POSTGRES_DB=workxplorer
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# --- переменные для Django ---
DB_NAME=workxplorer
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

DJANGO_SECRET_KEY=20o$$0j2r_q$$hk_ecoo__n7)f_m&ch6x263mrfjj@os0!1hv2h*
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@example.com