DJANGO_SECRET_KEY="20o$0j2r_q$hk_ecoo__n7)f_m&ch6x263mrfjj@os0!1hv2h*"
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DB_NAME=workxplorer
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# DEFAULT_FROM_EMAIL=